<!--
 *
 *  Welcome to Entreveloper Crosswords
 *  This Plugin allows you to add crosswords to your Wordpress website
 *  The crosswords files follow a custom format explained here: 
 *  https://github.com/TheEntreveloper/crosswords
 *  You can also take a look at a few sample crossword files to quickly make sense
 *  of its format.
 *  While you can then create crosswords manually, and upload your files to your 
 *  Wordpress website, using this Plugin, it is easier to create those files with the 
 *  Entreveloper Croosword Making Tool, a free Java Desktop App that can be downloaded 
 *  here: https://github.com/TheEntreveloper/crosswords/blob/main/maker/maker.zip
 *  
 * -----------------------------------
 *
 * MIT License
 *
 * Copyright Entreveloper.com (https://entreveloper.com)
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *
 */
-->
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="oss crossword viewer in html5 canvas">
  <meta name="author" content="Entreveloper">
  <title>Open source html canvas crossword viewer</title>
  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
&nbsp;
</body>
</html>
